/* Parent Search Container */
.header__right__search {
  display: flex;
  align-items: center;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;
  max-width: 300px; /* Adjust the width as per your design */
  height: 40px;
}



/* Input Field */
.header__right__search__input {
  flex: 1;
  border: none;
  outline: none;
  padding: 0 12px;
  font-size: 14px;
  color: #4a4a4a;

  &::placeholder {
    color: #a1a1a1;
  }

  /* Dynamic Variations */
  &--primary {
    font-weight: bold;
  }
}

/* Icon Container */
.header__right__search__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 100%;
  background-color: #00c4cc;
  cursor: pointer;

  img {
    width: 16px;
    height: 16px;
  }

  /* Dynamic Variations */
  &--primary {
    background-color: #007f80;
  }
}
