$col-pink: #ffe7e5;
$col-light-orange: #f8b4ae;
$col-grey: #f8fafc;
$col-dark-grey: #64748b;
$col-light-grey: #e2e8f0;
$col-white: #ffffff;
$col-darker-grey: #94a3b8;
$col-radio-red: #e93223;
$primary-color: #39cdcc;
$text-color: #213f7d;
$font-family: 'Inter', sans-serif;

%mg_au {
  margin: 0 auto;
}
%ta_center {
  text-align: center;
}
